.result {
  height: 60px;
  background-color: rgb(157, 148, 175);
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 500px;
  margin: auto;
}

.button {
  display: block;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: rgb(203, 197, 214);
}